    {% load staticfiles %}
    <html>
        <head>
            <title>Course project</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{% static 'css/estimator.css' %}">
			{% csrf_token %}

        </head>
        <body>
			<div id="return_button">
				<a href="/" class="button"> Вернуться на главную </a>
			</div>           
			<h1>Заполните информацию о себе </h1>
			<form method="POST" class="post-form">
				<table> 
					{% csrf_token %}
					{{ form.as_table }}								
				</table>
				<button type="submit" class="save btn btn-default"> Узнать </button>
			</form>

			{% if text %}
				<h1> {{ text}}  </h1>
			{% endif %}
			
        </body>
    </html>