    {% load staticfiles %}
    <html>
        <head>
            <title>Home page</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{% static 'css/estimator.css' %}">
        </head>

		<body>
			<div id="adminButton">
				<a href="login" class="button"> Зайти как админ </a>
			</div>


			<div id="content"> 
				<div id="layout-main-content"> 
					<h1><a href="/enter"> Кредитный калькулятор </h1>
							<div class="calculator-descr-text">
								<p> Кредитный калькулятор позволяет рассчитать платежи по кредиту онлайн: получить информацию о величине ежемесячного платежа, проценте по кредиту, а так же долга перед банком в начале и конце каждого расчетного периода. </p>
							</div>
				</div>	
				<div id="layout-main-content"> 
					<h1><a href="/credit_history/"> Как формируется кредитная история </h1>
							<div class="calculator-descr-text">
								<p> Описание формирования кредитной истории на оснавании которой принимается решение банком о выдаче кредита </p>
							</div>
				</div>	
				<div id="layout-main-content"> 
					<h1><a href="/model_info"> Информация о модели </h1>
							<div class="calculator-descr-text">
								<p> Описание модели для предсказания получения кредита, использованной на сайте. Описание, признаки, использованные моделью, оценка ее качества </p>
							</div>
				</div>	
										
			</div>
			
			
        </body>
	</html>