    {% load staticfiles %}
    <html>
        <head>
            <title> Log in</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{% static 'css/estimator.css' %}">
			{% csrf_token %}

        </head>
        <body>
		

					<h1>Заполните информацию о себе </h1>			

			<form method="POST" class="loginform">
				<table> 
					{% csrf_token %}
					{{ form.as_table }}								
				</table>
				<button type="submit" class="save btn btn-default"> Войти </button>
			</form>           

        </body>
    </html>